## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_GOOGLE

choice
	prompt "Mainboard model"

source "src/mainboard/google/*/Kconfig.name"

endchoice

source "src/mainboard/google/*/Kconfig"

config MAINBOARD_VENDOR
	default "Google"

if HAVE_POWER_STATE_AFTER_FAILURE

config CHROMEEC_AFTER_G3_STATE
	bool "Enable configuring ChromeEC After G3 State with CFR at boot"
	default n
	depends on EC_GOOGLE_CHROMEEC
	depends on DRIVERS_OPTION_CFR_ENABLED
	help
	  Enable configuring ChromeEC After G3 State with CFR at boot via host
	  command, otherwise ChromeEC default compiled after G3 behavior
	  (usually "Previous State") will override coreboot after G3
	  configuration.

	  After G3 State is updated from existing coreboot CFR:
	    "Restore AC power after loss"

	  Only useful for boards with dedicated 3V coin battery to sustain
	  bbram, and only for EC images compiled with
	  CONFIG_POWER_BUTTON_INIT_IDLE, as this ensures that OFF bbram reset
	  flags are retained.

	  This option has no effect if ChromeEC running image does not support
	  custom host command EC_CMD_AFTER_G3_STATE.

endif # HAVE_POWER_STATE_AFTER_FAILURE

endif # VENDOR_GOOGLE
